<head>
  <title>Autentificare</title>
</head>

<body>
  <h1>Autentificare</h1>
  <form action="/verificare-autentificare" method="POST">
    <label for="utilizator">Utilizator:</label>
    <input type="text" id="utilizator" name="utilizator"><br><br>
    <label for="parola">Parolă:</label>
    <input type="password" id="parola" name="parola"><br><br>
    <input type="submit" value="Autentificare">
  </form>
</body>

