<!DOCTYPE html>
<html>
  <head>
    <title>Magazinul Meu</title>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center my-4">Produse</h1>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nume</th>
            <th>Preț</th>
            <th>Acțiuni</th>
          </tr>
        </thead>
        <tbody>
          <% produse.forEach((produs) => { %>
            <tr>
              <td><%= produs.id %></td>
              <td><%= produs.nume %></td>
              <td><%= produs.pret %> lei</td>
              <td>
                <form method="POST" action="/adaugare_cos">
                  <input type="hidden" name="id" value="<%= produs.id %>">
                  <button type="submit" class="btn btn-primary">Adaugă în coș</button>
                </form>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
      <div class="text-center">
        <a href="/creare-bd" class="btn btn-secondary mx-2">Creare BD</a>
        <a href="/incarcare-bd" class="btn btn-secondary mx-2">Încarcare BD</a>
      </div>
    </div>
  </body>
</html>
