<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Fotografii</title>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Acasă</a></li>
        <li><a href="/chestionar">Chestionar</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <%- body %>
  </main>
  <footer>
    <p>&copy; Cristi Sandu</p>
  </footer>
</body>

</html>