<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/style/stil.css">
</head>

<body>
  <header>
    <nav>
      <a href="/">Acasă</a>
      <a href="/chestionar">Chestionar</a>
    </nav>
  </header>
  <main>
    <%- body %>
  </main>
  <footer>
    <p>&copy; Cristi Sandu</p>
  </footer>
</body>

</html>