<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Vizualizare coș</title>
</head>
<body>
  <div class="container">
    <h1>Coș de cumpărături</h1>
    <% if (produseCos && produseCos.length > 0) { %>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nume</th>
            <th>Pret</th>
          </tr>
        </thead>
        <tbody>
          <% produseCos.forEach((produs) => { %>
            <tr>
              <td><%= produs.id %></td>
              <td><%= produs.nume %></td>
              <td><%= produs.pret %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    <% } else { %>
      <p>Nu ai niciun produs în coș.</p>
    <% } %>
    <br><br>
    <button class="btn btn-primary btn-back"><a href="/">Înapoi la produse</a></button>
  </div>
</body>
</html>
